@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(81, 81, 137);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
header{
    color: white;
    text-align: center;

}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.379);
}
select#flista{
    width: 150px;
}
div{
    background-color: white;
    margin: auto;
    padding: 8px;
}
img{
   border-radius: 50%;
   padding-top: 15px;
   width: 250px;
   height: 250px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 25px;
}